<section id="contact"  data-bg-img="assets/bg_footer-map.png" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="section-title">Связаться с нами</h2>
			</div>
		</div>

		<div class="row">

			<div class="col-md-5 offset-md-1 py-2" id="map">
				<agm-map  [latitude]="coordinates[0]" [longitude]="coordinates[1]" [zoom]="zoom">
					<agm-marker [latitude]="coordinates[0]" [longitude]="coordinates[1]"></agm-marker>
					<agm-marker [latitude]="coordinates[2]" [longitude]="coordinates[3]"></agm-marker>
					<agm-marker [latitude]="coordinates[4]" [longitude]="coordinates[5]"></agm-marker>
					<agm-marker [latitude]="coordinates[6]" [longitude]="coordinates[7]"></agm-marker>
				</agm-map>
			</div>

			<div class="col-md-5 py-2">
				<div class="form">
					<div id="sendmessage">Сообщение отправлено, спасибо!</div>
					<div id="errormessage"></div>
					<form action="" method="post" role="form" class="contactForm">
						<div class="form-group">
							<input type="text" name="name" class="form-control" id="name" placeholder="Имя" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" name="email" id="email" placeholder="Ваш Email" data-rule="email" data-msg="Please enter a valid email" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control" name="message" rows="3" data-rule="required" data-msg="Напишите нам!" placeholder="Сообщение"></textarea>
							<div class="validation"></div>
						</div>
						<div class="text-center"><button type="submit">Send Message</button></div>
					</form>
				</div>
			</div>

		</div>
	</div>
</section>

<footer class="site-footer" id="glass">
	<div class="bottom">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 col-xs-12 text-lg-left text-center">
					<p class="copyright-text">
						&copy; 2017 Kirdeoptika.
					</p>
				</div>

				<div class="col-lg-6 col-xs-12 text-lg-right text-center">
					<p class="copyright-text">
						Мы поможем лучше видеть!
					</p>
				</div>

			</div>
		</div>
	</div>
</footer>