<div id="logo">
  <div class="container">
    <div class="row">
      <div class="mx-auto d-block py-1">
        <a class="hero-brand" href="index.html" title="Kirdeoptika"><img alt="Bell Logo" src="assets/logo/kirdeoptika-nav.svg" class="img-fluid"></a>          
      </div>
    </div>
  </div>
</div>
<!-- /Logo -->

<!-- Header -->
<header id="header">
  <div class="container">
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-has-children"><a href="#about">Услуги</a>
          <ul>
            <li><a href="#">срочное изготовление очков</a></li>
          </ul>
        </li>
        <li><a href="#features">Очки</a></li>
        <li><a href="#portfolio">Солнцезащитные очки</a></li>
        <li><a href="#team">Оправы</a></li>
        <li><a href="#team">Средства ухода</a></li>
        <li><a href="#team">Увеличительная оптика</a></li>
        <li><a href="#contact">Контакты</a></li>
        <li class="menu-has-children"><a href="#"><img alt="EST" src="assets/lang/estonia_texture.gif" width="28"></a>
          <ul>
            <li><a href="#"><img alt="EST" src="assets/lang/estonia_texture.gif" width="28"></a></li>
            <li><a href="#"> <img alt="RUS" src="assets/lang/russia_texture.gif" width="28"></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- #header -->