<div id="logo">
  <div class="container">
    <div class="row">
      <div class="mx-auto d-block py-1">
        <a class="hero-brand" href="index.html" title="Kirdeoptika"><img alt="Bell Logo" src="assets/logo/kirdeoptika-nav.svg" class="img-fluid"></a>          
      </div>
    </div>
  </div>
</div>
<!-- /Logo -->

<!-- Header -->
<header id="header">
  <div class="container">
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-has-children"><a href="#about">Услуги</a>
          <ul>
            <li><a href="#">срочное изготовление очков</a></li>
          </ul>
        </li>
        <li><a href="#features">Очки</a></li>
        <li><a href="#portfolio">Солнцезащитные очки</a></li>
        <li><a href="#team">Оправы</a></li>
        <li><a href="#team">Средства ухода</a></li>
        <li><a href="#team">Увеличительная оптика</a></li>
        <li><a href="#contact">Контакты</a></li>
        <li class="menu-has-children"><a href="#"><img alt="EST" src="assets/lang/estonia_texture.gif" width="28"></a>
          <ul>
            <li><a href="#"><img alt="EST" src="assets/lang/estonia_texture.gif" width="28"></a></li>
            <li><a href="#"> <img alt="RUS" src="assets/lang/russia_texture.gif" width="28"></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- #header -->

<!-- About -->
<section class="about" id="about">
  <div class="container text-center">
    <h2>
      About Bell Theme
    </h2>
    
    <p>
      Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, per nihil dicant commodo an. Eum tacimates erroribus ad. Atqui feugiat euripidis ea pri, sed veniam tacimates ex. Menandri temporibus an duo.
    </p>
    
    <div class="row stats-row">
      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no">-50%</span> Солнечные очки
        </div>
      </div>
      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no">-20%</span> Бинокли
        </div>
      </div><div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no">-50%</span> Оправы
        </div>
      </div>
      <div class="stats-col text-center col-md-3 col-sm-6">
        <div class="circle">
          <span class="stats-no" data-toggle="counter-up">15</span> Hard Workers
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About -->

<!-- Parallax -->
<div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="assets/parallax-bg.jpg" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
  <h2>
    Welcome to a perfect theme
  </h2>
  
  <p>
    This is the most powerful theme with thousands of options that you have never seen before.
  </p>
  <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="assets/gadgets.png">
</div>
<!-- /Parallax -->

<!-- Features -->
<section class="features" id="features">
  <div class="container">
    <h2 class="text-center">
      Features
    </h2>
    
    <div class="row">
      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="feature-icon">
              <span class="fa fa-rocket"></span>
            </div>
          </div>
          
          <div>
            <h3>
              Custom Design
            </h3>
            
            <p>
              Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
            </p>
          </div>
        </div>
      </div>
      
      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="feature-icon">
              <span class="fa fa-envelope"></span>
            </div>
          </div>
          
          <div>
            <h3>
              Responsive Layout
            </h3>
            
            <p>
              Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
            </p>
          </div>
        </div>
      </div>
      
      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="feature-icon">
              <span class="fa fa-bell"></span>
            </div>
          </div>
          
          <div>
            <h3>
              Innovative Ideas
            </h3>
            
            <p>
              Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="feature-icon">
              <span class="fa fa-database"></span>
            </div>
          </div>
          
          <div>
            <h3>
              Good Documentation
            </h3>
            
            <p>
              Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
            </p>
          </div>
        </div>
      </div>
      
      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="feature-icon">
              <span class="fa fa-cutlery"></span>
            </div>
          </div>
          
          <div>
            <h3>
              Excellent Features
            </h3>
            
            <p>
              Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
            </p>
          </div>
        </div>
      </div>
      
      <div class="feature-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="feature-icon">
              <span class="fa fa-dashboard"></span>
            </div>
          </div>
          
          <div>
            <h3>
              Retina Ready
            </h3>
            
            <p>
              Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Features -->

<!-- Call to Action -->
<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-12 text-lg-left text-center">
        <h2>
          Call to Action Section
        </h2>
        
        <p>
          Lorem ipsum dolor sit amet, nec ad nisl mandamus imperdiet, ut corpora cotidieque cum. Et brute iracundia his, est eu idque dictas gubergren
        </p>
      </div>
      
      <div class="col-lg-3 col-sm-12 text-lg-right text-center">
        <a class="btn btn-ghost" href="#">Buy This Theme</a>
      </div>
    </div>
  </div>
</section>
<!-- /Call to Action -->

<!-- Portfolio -->
<section class="portfolio" id="portfolio">
  <div class="container text-center">
    <h2>
      Portfolio
    </h2>
    
    <p>
      Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, Per nihil dicant commodo an.
    </p>
  </div>
  
  <div class="portfolio-grid">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/porf-1.jpg">
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  The Dude Rockin'
                </h3>
                
                <p class="card-text">
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/porf-1.jpg">
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  The Dude Rockin'
                </h3>
                
                <p class="card-text">
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/porf-1.jpg">
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  The Dude Rockin'
                </h3>
                
                <p class="card-text">
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/porf-1.jpg">
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  The Dude Rockin'
                </h3>
                
                <p class="card-text">
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/porf-1.jpg">
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  The Dude Rockin'
                </h3>
                
                <p class="card-text">
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/porf-1.jpg">
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  The Dude Rockin'
                </h3>
                
                <p class="card-text">
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/porf-1.jpg">
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  The Dude Rockin'
                </h3>
                
                <p class="card-text">
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/porf-1.jpg">
            <div class="portfolio-over">
              <div>
                <h3 class="card-title">
                  The Dude Rockin'
                </h3>
                
                <p class="card-text">
                  Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Portfolio -->

<!-- Team -->
<section class="team" id="team">
  <div class="container">
    <h2 class="text-center">
      Meet our team
    </h2>
    
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="assets/team-1.jpg">
            <div class="card-title-wrap">
              <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
            </div>
            
            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with me
              </h4>
              
              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>
              
              <p>
                Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
              </p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="assets/team-1.jpg">
            <div class="card-title-wrap">
              <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
            </div>
            
            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with me
              </h4>
              
              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>
              
              <p>
                Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
              </p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="assets/team-1.jpg">
            <div class="card-title-wrap">
              <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
            </div>
            
            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with me
              </h4>
              
              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>
              
              <p>
                Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
              </p>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="assets/team-1.jpg">
            <div class="card-title-wrap">
              <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
            </div>
            
            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with me
              </h4>
              
              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>
              
              <p>
                Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Team -->

<!-- @component: footer -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title">Contact Us</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-3 offset-lg-2">
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>A108 Adam Street<br>New York, NY 535022</p>
          </div>
          
          <div>
            <i class="fa fa-envelope"></i>
            <p>info@example.com</p>
          </div>
          
          <div>
            <i class="fa fa-phone"></i>
            <p>+1 5589 55488 55s</p>
          </div>
          
        </div>
      </div>
      
      <div class="col-lg-5">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="3" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</section>

<footer class="site-footer">
  <div class="bottom">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-6 col-xs-12 text-lg-left text-center">
          <p class="copyright-text">
            &copy; 2017 Kirdeoptika. Made by Jegor Šalajev.
          </p>
          <div class="credits">
          </div>
        </div>
        
        <div class="col-lg-6 col-xs-12 text-lg-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="index.html">Home</a>
            </li>
            <li class="list-inline-item">
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</footer>
<a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>