<app-header></app-header>

<!-- <app-layouts></app-layouts> -->

<!-- About -->
<!-- <section class="about" id="about">
  <div class="container text-center">
    <h2>
      About About About About <br> О Фирме О Фирме О Фирме О Фирме 
    </h2>
    
    <p>
      Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, per nihil dicant commodo an. Eum tacimates erroribus ad. Atqui feugiat euripidis ea pri, sed veniam tacimates ex. Menandri temporibus an duo.
    </p>
  </div>
</section> -->
<!-- /About -->

<!-- Call to Action -->
<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-12 text-lg-left text-center">
        <h2>
          Диагностика зрения
        </h2>
        
        <p>Обследование зрительной системы необходимо проходить регулярно, ведь причины падения зрения могут быть разными. Диагностика зрения на авторефрактометре не займет много времени и осуществляется предельно просто.</p>
      </div>
      
      <div class="col-lg-4 col-sm-12 text-lg-right text-center">
        <a class="btn btn-ghost" href="#contact">Записаться на приём</a>
      </div>
    </div>
  </div>
</section>
<!-- Call to Action -->

<!-- Shops -->
<section id="shops" class="shops" >
  <div class="container">
    <h2 class="text-center">
      Наши Магазины
    </h2>
    
    <div class="row">      
      
      <div class="col-md-6 col-lg-3 col-xs-6 py-2">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/cover.jpg">
            <div class="card-title-wrap">
              <span class="card-title">Нарва</span> <span class="card-text">Описание адресса</span>
            </div>
            
            <div class="shops-over">
              <h4>
                Телефон: <br>
                +372 33 55 555
              </h4>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-xs-6 py-2">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/cover.jpg">
            <div class="card-title-wrap">
              <span class="card-title">Силламяэ</span> <span class="card-text">Описание адресса</span>
            </div>
            
            <div class="shops-over">
              <h4>
                Телефон<br>
                +372 33 55 555
              </h4>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-xs-6 py-2">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/cover.jpg">
            <div class="card-title-wrap">
              <span class="card-title">Идла</span> <span class="card-text">Описание адресса</span>
            </div>
            
            <div class="shops-over">
              <h4>
                Телефон<br>
                +372 33 55 555
              </h4>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-xs-6 py-2">
        <div class="card card-block">
          <a href="#"><img alt="" src="assets/cover.jpg">
            <div class="card-title-wrap">
              <span class="card-title">Кохтла-Ярве</span> <span class="card-text">Описание адресса</span>
            </div>
            
            <div class="shops-over">
              <h4>
                Телефон<br>
                +372 33 55 555
              </h4>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /Shops -->

<app-footer></app-footer>
