<div id="logo">
	<div class="container">
		<div class="row">
			<div class="mx-auto d-block py-1">
				<a class="hero-brand" href="index.html" title="Kirdeoptika"><img alt="Bell Logo" src="assets/logo/kirdeoptika-nav.svg" class="img-fluid"></a>
			</div>
		</div>
	</div>
</div>
<!-- /Logo -->

<!-- Header -->
<header id="header">
	<div class="container d-flex justify-content-center">
		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li class="menu-has-children"><a href="#about">Услуги</a>
					<ul>
            <li><a href="#">Изготовление очков по заказу</a></li>
            <li><a href="#">Ремонт очков</a></li>
            <li><a href="#">Проверка зрения</a></li>
						<li><a class="nav-alert" href="#">Срочное изготовление очков (от 1 дня)</a></li>
					</ul>
				</li>
				<li class="menu-has-children"><a href="#">Очки</a>
					<ul>
						<li><a href="#">Солнцезащитные очки</a></li>
						<li><a href="#">Для коррекции зрения</a></li>
						<li><a href="#">Для водителей</a></li>
						<li><a href="#">Для чтения</a></li>
					</ul>
				</li>
				<li><a href="#">Оправы</a>
					<ul>

						<li><a href="#">Металлические</a></li>
						<li><a href="#">Пластиковые</a></li>
					</ul>

				</li>
				<li><a href="#">Средства ухода</a>
					<ul>

						<li><a href="#">Футляры</a></li>
						<li><a href="#">Салфетки</a></li>
						<li><a href="#">Чистящие средства</a></li>
						<li><a href="#">Шнурки и Цепочки</a></li>
					</ul>

				</li>
				<li><a href="#">Увеличительная оптика</a>
					<ul>

						<li><a href="#">Бинокли</a></li>
						<li><a href="#">Зрительные трубы</a></li>
						<li><a href="#">Приборы ночного видения</a></li>
						<li><a href="#">Прицелы</a></li>
						<li><a href="#">Лупы</a></li>
					</ul>

				</li>
				<li><a href="#shops">Контакты</a></li>
				<li class="menu-has-children"><a href="#"><img alt="EST" src="assets/lang/estonia_texture.gif" width="28"></a>
					<ul>
						<li><a href="#"><img alt="EST" src="assets/lang/estonia_texture.gif" width="28"></a></li>
						<li><a href="#"><img alt="RUS" src="assets/lang/russia_texture.gif" width="28"></a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>
<!-- #header -->
